<!-- Space on the left site for large screens -->
<div class="visible-md visible-lg pull-left"
	style="width: 80px; height: 1px; display: block;"></div>

<div class="pull-left" style="width: 100%; max-width: 800px; margin-bottom: 50px;">
	<div class="cpt-default-container">
		<div class="cpt-default-container-title">
			<span>Welcome to cross-platform.org!</span>
		</div>
		<div class="cpt-default-container-content">
			<p>
				This website was developed within the scope of a Master's thesis by Marcus Vetter at <a href="http://zuehlke.com" target="_blank">Zühlke Engineering GmbH</a> and the <a href="http://www.isse.uni-augsburg.de/en/" target="_blank">University of Augsburg</a>.
			</p>
			<p>
				Cross-platform.org provides an overview of selected cross-platform mobile development technologies, defines criteria and offers a decision tool. This decision tool enables the user to enter requirements (criteria), evaluates the considered technologies and displays a ranking.
			</p>
			<br>
			<p>
				The website is structured as follows:
				<ul>
					<li>Technologies: Overview of considered technologies with detailed information, evaluated according to the defined criteria</li>
					<li>Criteria: Overview of provided criteria</li>
					<li>Decision Tool: A tool to match user requirements against selected criteria and to create a ranking of technologies</li>
					<li>Profiling: Customization of technologies and criteria via JSON (beta version)</li>
				</ul>
			</p>
			<br>
			<p>
				Any time I am pleased for criticism, wishes or suggestions. Just send an email to:<div style="background-image: url('img/email.png'); background-repeat: no-repeat; background-size:148px 22px; background-position: center center; height: 22px; width: 148px; margin-top: -8px; margin-left: -3px;"></div>
			</p>
			<p>
				Thank You!
			</p>
			<div style="margin-top: 30px;">
				<strong>Please notice:</strong><br>
				<strong>All mentioned technology evaluations are based on my own research and therefore subjective. I do not take any responsibility for the completeness, correctness and actuality of the contents, estimations and technology information.</strong>
			</div>
		</div>
	</div>
</div>