<div class="cpt-decision-container pull-left" style="margin-bottom: 75px;">

	<div class="cpt-decision-title">
		<span class="cpt-decision-title-text">Decision Tool</span>
	</div>

	<div class="cpt-decision-content">
		<p>
			Welcome to the cross-platform.org decision tool!
		</p>
		<p>
			This decision tool enables you to enter requirements (criteria), evaluates the considered technologies and displays a ranking. Just follow the wizard or jump to the ranking.
		</p>
	</div>

	<div class="cpt-decision-page-button-container">
		<button
			class="btn btn-default btn-md pull-right cpt-test-decision-tool-next-button"
			ng-click="changeStateTo('WIZZARD')">Start Wizard <span
				class="glyphicon glyphicon-chevron-right"></span>
		</button>
		<button
			class="btn btn-default btn-md pull-right"
			style="margin-right: 10px;"
			ng-click="changeStateTo('RANKING')">Jump to Ranking <span
				class="glyphicon glyphicon-share-alt"></span>
		</button>
	</div>

</div>